{% load static %}
{% block col %}
{% for col in row.col_set.all %}
    <div class="
                col
                w-{{ col.width }}
                h-{{ col.height }}
                p{{ col.padding }}
                m{{ col.margin }}
                d{{ col.display }}
                {{ col.bg_color }}
                flex-{{ col.direction }} 
                justify-content{{ col.justify_content }}
                align-items{{ col.align_items }}
                flex-grow-{{ col.flex_grow }}
                "
    >
    
    <!--   {% if col.has_link %}
        {% with col.link as link %}
            {% include 'link.html' %}
        {% endwith %}
    {% endif %} -->
    
    {% for text in col.text_set.all %}
        <p class="
                d-flex
                align-content-center 
                justify-content-center
                    ">
                    {{ text.txt }} 
                </p>
    {% endfor %}

    {% for image in col.image_set.all %}
        <img class="
                    img-fluid
                    mx-auto
                    d-block
                    " 

                src="/media/{{ image.url }}"
            >
    {% endfor %}

    </div>

{% endfor %}

{% endblock col %}