
{% load static %}
{% block content %}     
    
        {% for cont in section.content_list %}
            <div class="p-{{cont.padding}}
                        m-{{cont.margin}}
                        container-fluid
                        d-flex
                        align-content-center 
                        flex-{{cont.flex_mode}} 
                        justify-content-center
                        text-center
                        flex-grow-{{cont.flex_grow}}
                        position-relative
                        "
                style ="height:{{cont.height}}%;width:{{cont.width}}%"
            >
            
            {% if cont.has_link %}
                {% with cont.link as link %}
                    {% include 'link.html' %}
                {% endwith %}
            {% endif %}
            
            {% for text in cont.texts %}
                <p class="txt col d-flex
                        align-content-center 
                        justify-content-center
                        p-{{text.padding}}
                        m-{{text.margin}} "> {{ text.txt }} </p>
            {% endfor %}
            {% for image in cont.images %}
                <img class="d-block 
                            col-12
                            p-{{image.padding}}
                            m-{{image.margin}}" 
                    style="height:{{image.height}}%" 
                    src="/media/{{ image.url }}">
            {% endfor %}
            </div>
        {% endfor %}
{% endblock content %}