{% load static %}
{% load classFilter %}
{% block container %}
    <div 
            id = "{{ container.CSS_id }}"
            class="
                container
                {{ container.CSS_classes }}
                
                p{{ container.padding_sides }}{{ container.padding }}
                m{{ container.margin_sides }}{{ container.margin }}

                {{ container.bg_color }}{{ container.bg_gradient }}
                {{ container.shadow }}

                d{{ container.display }}{{ container.inline }}
                {{ container.visibility }}

                {{ container.position }}
                {% if container.position == 'position-absolute' %}
                    top-{{ container.top }}
                    start-{{ container.left }}
                    bottom-{{ container.down }}
                    end-{{ container.right }}
                {% endif %}

                flex-{{ container.direction }} 
                {{ container.breakpoint }}
                {{ container.order}}
                flex{{ container.flex_wrap }}
                justify-content{{ container.justify_content }}
                align-items{{ container.align_items }}
                align-content{{ container.align_content }}
                flex-grow-{{ container.flex_grow }}

                align-self{{ container.align_self }}
                
                "
                style="
                    max-height:{{ container.height }}%;
                    max-width:{{ container.width }}%;
                "
    {% if container.bg_image != '' %}
    style="  
        background-image: url('{{ container.bg_image.url }}'); 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    "
    {% endif %}
    >

     {% for overlay in container.overlay_set.all %}
        {% block overlay %}
            {% include 'overlay.html' %}
        {% endblock %}
    {% endfor%}

    {% if container.link %}
    {% with container.link as link %}
        {% block Link %}
            {% include 'link.html' %}
        {% endblock %}
    {% endwith %}
    {% endif %}

    {% if container.orderedContent %}
        {% for content in container.orderedContent %}

            {% with content|classname as modelclass %}

                {% if modelclass == "Text" %}
                {% with content as text %}
                    {% include 'text.html' %}
                {% endwith %}

                {% elif modelclass == "Image" %}
                {% with content as image %}
                    {% include 'image.html' %}
                {% endwith %}

                {% endif %}

            {% endwith %}

        {% endfor %}
    {% endif %}

    </div>

{% endblock container %}