{% load static %}
{% load classFilter %}
{% block container %}
    <div 
            id = "{{ container.CSS_id }}"
            class="
                container
                {{ container.CSS_classes }}
                
                col-{{ container.col }}

                p{{ container.padding_sides }}{{ container.padding }}
                m{{ container.margin_sides }}{{ container.margin }}

                {{ container.bg_color }}{{ container.bg_gradient }}
                {{ container.borders }}
                {{ container.borders_colors }}
                {{ container.shadow }}

                d{{ container.display }}{{ container.inline }}
                {{ container.visibility }}

                {{ container.position }}
                {% if container.position == 'position-absolute' %}
                    top-{{ container.top }}
                    start-{{ container.left }}
                    bottom-{{ container.down }}
                    end-{{ container.right }}
                {% endif %}

                flex-{{ container.direction }} 
                
                {{ container.order}}
                flex{{ container.flex_wrap }}
                justify-content{{ container.justify_content }}
                align-items{{ container.align_items }}
                align-content{{ container.align_content }}
                flex-grow-{{ container.flex_grow }}

                align-self{{ container.align_self }}
                
                "
                style="
                    max-height:{{ container.height }};
                    max-width:{{ container.width }};
                
                    {% if container.bg_image != '' %}
                    background-image: url('{{ container.bg_image.url }}'); 
                    background-position: center; 
                    background-repeat: no-repeat; 
                    background-size: cover; 
                    {% endif %}
                "
                
    >

     {% for overlay in container.overlay_set.all %}
        {% block overlay %}
            {% include 'overlay.html' %}
        {% endblock %}
    {% endfor%}

    {% if container.link %}
    {% with container.link as link %}
        {% block Link %}
            {% include 'link.html' %}
        {% endblock %}
    {% endwith %}
    {% endif %}

    {% if container.orderedContent %}
        {% for content in container.orderedContent %}

            {% with content|classname as modelclass %}

                {% if modelclass == "Text" %}
                {% with content as text %}
                    <p class="
                        d-flex
                        align-content-center 
                        justify-content-center
                        text{{ text.color }}
                        text{{ text.alignment }}
                        fs{{ text.size }}
                        fw{{ text.weight }}
                        fst{{ text.italics }}
                        lh{{ text.line_height }}
                        text-decoration{{ text.text_decoration }}
                        align{{ text.vertical_align }}
                        overflow{{ text.overflow }}
                    ">
                    
                        {{ text.txt }} 
                    </p>
                {% endwith %}

                {% elif modelclass == "Image" %}
                {% with content as image %}
                     <img  
                
                        id = "{{ image.CSS_id }}"
                        class="
                            col{{ image.col }}
                            img-fluid
                            {{ image.CSS_classes }} 
                            p{{ image.padding_sides }}{{ image.padding }}
                            m{{ image.margin_sides }}{{ image.margin }}
                            {{ image.bg_color }}{{ image.bg_gradient }}
                            {{ image.shadow }}
                            d{{ image.display }}{{ image.inline }}
                            {{ image.borders }}
                            {{ image.borders_colors }}
                            {{ image.visibility }}
                            {{ image.position }}
                            {% if image.position == 'position-absolute' %}
                                top-{{ image.top }}
                                start-{{ image.left }}
                                bottom-{{ image.down }}
                                end-{{ image.right }}
                            {% endif %}
                            {{image.order}}
                            flex-grow-1

                            align-self{{ image.align_self }}
                            "
                        
                        src="/media/{{ image.url }}"
                        style = "
                            max-height:{{ image.height }};
                            max-width:{{ image.width }};
                            object-fit:{{ image.object_fit }};

                        {% if image.bg_image != '' %}
                     
                            background-image: url('{{image.bg_image.url}}'); 
                            background-position: center; 
                            background-repeat: no-repeat; 
                            background-size: cover; 
                            
                        {% endif %}
                            "
                            >
                {% endwith %}

                {% endif %}

            {% endwith %}

        {% endfor %}
    {% endif %}

    </div>

{% endblock container %}