{% load static %}
{% block image %}
 
 <img  
 
  id = "{{ image.CSS_id }}"
            class="
                img-fluid
                {{ image.CSS_classes }}


                
                p{{ image.padding_sides }}{{ image.padding }}
                m{{ image.margin_sides }}{{ image.margin }}

                {{ image.bg_color }}{{ image.bg_gradient }}
                {{ image.shadow }}

                d{{ image.display }}{{ image.inline }}
                {{ image.visibility }}

                {{ image.position }}
                {% if image.position == 'position-absolute' %}
                    top-{{ image.top }}
                    start-{{ image.left }}
                    bottom-{{ image.down }}
                    end-{{ image.right }}
                {% endif %}
                {% if image.direction == 'row' %}
                    flex-column
                    flex{{ image.breakpoint }}-row
                {% else %}
                    flex-{{ image.direction }} 
                {% endif %}
                {{image.order}}
                flex{{ image.flex_wrap }}
                justify-content{{ image.justify_content }}
                align-items{{ image.align_items }}
                align-content{{ image.align_content }}
                flex-grow-1

                align-self{{ image.align_self }}
                
                "
        
    {% if image.bg_image != '' %}
    style="  
        background-image: url('{{image.bg_image.url}}'); 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    "
    {% endif %}

        src="/media/{{ image.url }}"
        style = "
            max-height:{{ image.height }}%;
            max-width:{{image.width}}%;
        "
            >

{% endblock %}