{% block Link %}

    <a class="
            w-{{link.width}}
            h-{{link.height}}
            p{{link.padding}}
            m{{link.margin}}
            {{ link.bg_color }}
            d-flex
            justify-content{{link.justify_content}}
            align-items{{ link.align_items }}
            align-self{{ link.align_self }}
            align-content{{ link.align_content}}
            
            {{ link.position }}
            top-{{ link.top }}
            left-{{ link.left }}
            down-{{ link.down }}
            right-{{ link.right }}

            
        "
        href="{% url link.getLink  %}">
            {% with link.textShown as text %}
            {% block Text %}
                {% include 'text.html' %}
            {% endblock %}
            {% endwith %}
        </a>

{% endblock %}