
{% load static %}
<nav class="navbar navbar-expand-sm navbar-light p-2 ">


    <div class="collapse navbar-collapse justify-content-around" id="navbarCollapse">
        <ul class="navbar-nav ">
        {% for page in navbar %}
                <li class="nav-item m-2">
                    {% with page as path %}
                    
                        <a class="nav-link  py-0 px-2" href="/{{path}}">{{path}}</a>
                    {% endwith%}
                </li>
        {% endfor %}
        </ul>
    </div>
    
</nav>
        
