{% block navbar %}
<!--  NAVBAR -->
<nav class="navbar navbar-expand{{ navbar.breakpoint }} {{navbar.navbar_color}} {{navbar.bg_color}} {{navbar.shadow}}">
  <div class="container-fluid">
  
    <a class="navbar-brand" href="">
      {% if navbar.logo != null %}
      <img src="/media/{{navbar.logo}}" alt="" width="30" height="24" class="d-inline-block align-text-top">
      {% endif %}
      {% if navbar.brand_name != null %}
      {{navbar.brand_name}}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-nav navbar-collapse justify-content{{navbar.justify_content}} " id="navbarNavAltMarkup">
        {% for name, urlLink, order in navbar.get_links %}
          <a class="nav-link text-center" href={{urlLink}}>{{name}}</a>
        {% endfor %}
    </div>

      <div class="d-md-block d-none" >
        {% if navbar.has_user_functionality %}
            {% if not request.user.is_authenticated %}
              <a class="mx-3 btn btn-outline-info" href="{% url 'utents:signup' %}">SignUp</a>
            {% endif %}

            {% if request.user.is_authenticated %}
              <a class="mx-3 btn btn-outline-danger" href="{% url 'utents:logout' %}">{{ request.user.username }}, Logout</a>
            {% else %}
              <a class="mx-3 btn btn-outline-primary" href="{% url 'utents:login' %}">Login</a>
            {% endif %}
        
        {% endif %}
      </div>

  </div>
</nav>
{% endblock %}