{% extends 'base.html' %}
{% load static %}
{% block section %}     
        {% for section in section_list %}
            <div class=" 
                        container-fluid
                        d-flex
                        align-content-center 
                        flex-{{section.flex_mode}} 
                        justify-content-center
                        p-{{section.padding}}
                        m-{{section.margin}}
                        align-items-stretch
                        flex-grow-{{flex_grow}}
                        "
                 style="
                    height:{{section.height}}%;
                    width:{{section.width}}%;

                    "
            >
           
            {% block content %}
                {% include 'content.html'%}
            {% endblock content %}
            
            </div>
        {% endfor %}
{% endblock section %}